#add-success-container {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	display:none;
}

#add-success {
	position: absolute;
	top: calc(50% - 250px);
	left: calc(50% - 250px);
	width: 500px;
	padding: 50px 20px;
	background-color: var(--white, white);
	text-align: center;
}

#add-success img {
	width: 40px;
}

#add-success p {
	font-size: 16px;
}

#add-success #subtext {
	font-size: 12px;
	color: var(--green, green);
}

#plant-container {
	display: flex;
	text-align: center;
}

.plant-input-container input {
	padding: 5px;
}

#plant-container-left {
	width: 20%;
	padding-top: 2%;
	text-align: right;
}

#plant-container-left input {
	display: none;
}

#plant-container-left img {
	cursor: pointer;
	height: 60px;
}

#plant-container-middle {
	width: 30%;
	padding-top: 2%;
	text-align: left;
}

#plant-container-middle input[type=date] {
	border: none;
}

#plant-container-right {
	width: 50%;
	padding: 0 20px;
}

#plant-container-right textarea {
	height: 60px;
	width: 100%;
	box-sizing: border-box;
}

#care-container-wrapper {
	display: flex;
	flex-direction: column;
	margin: 20px 30px;
	padding-top: 20px;
	border: 1px solid var(--border-grey, grey);
}

#default-checkbox-container {
	margin: 0px 100px;
}


#default-checkbox-container .disabled {
	cursor:not-allowed;
}

#default-checkbox-message .disabled {
	color:gray;
}

#default-checkbox-plant .disabled {
	color:red;
}



#care-container {
	display: flex;
	padding-bottom: 2%;
}

#care-container > div {
	width: 50%;
}

#care-container div {
	align-items: baseline;
}

.care-input-container {
	padding: 5px 0;
}

.care-input-container input {
	padding: 5px;
}

.care-input-container label {
	margin-right: 5px;
}
