:root {
	--green: rgba(67,176,47,1);
	--green-hover: rgba(67,176,47,0.7);
	--yellow: #e0eda1;
	--red: rgba(215,90,74,1);
	--red-hover: rgba(215,90,74,0.7);
	--white: #ffffff;
	--black: #000000;
	--background-grey: #FAFAFA;
	--border-grey: #E6E6E6;
	--dark-grey: #6d6d6d;
	--link-blue: #3897f0;
	--hover-green: #006600;
	--text: #424242;
	--max-width: 700px;
}

html {
	overflow-y: scroll;
}

* {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

body {
	margin: 90px 0 0 0;
	padding: 0;
	background-color: var(--background-grey, grey);
}

a {
	text-decoration: none;
}