:root {
	--green: #43b02f;
	--white: #ffffff;
	--background-grey: #f7f7f7;
	--border-grey: #cccccc;
}

* {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--background-grey, grey);
}

a {
	text-decoration: none;
}