@import url("global.css") element;

@media (max-width: 1250px) {
	.create-post {
		margin: 25px 10%;
	}
}

@media (min-width: 1250px) {
	.create-post {
		margin: 25px calc(calc(100% - var(--max-width)) / 2);
	}
}

.create-post {
	border-radius: 5px;
	background-color: var(--white, white);
	padding: 30px;
	font-size: 15px;
	box-sizing: border-box;
}

.create-post h3 {
	margin: 0 0 20px 0;
	font-weight: 600;
	font-size: 16px;
	color: var(--green, green);
}

#create-post-container {
	width: 100%;
}

.create-post input {
	border: none;
	border-bottom: 1px solid var(--border-grey, grey);
	padding: 2px 5px;
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	display: block;
}

.create-post textarea {
	border: 1px solid var(--border-grey, grey);
	border-radius: 3px;
	margin: 20px 0;
	display: block;
	width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	height: 150px;
}

.create-post button {
	background-color: var(--green, green);
	border: none;
	color: white;
	border-radius: 3px;
	padding: 5px 10px;
	margin-right: 30px;
	cursor: pointer;
	width: 150px;
}

.create-post button:hover {
	background-color: var(--green-hover, green);
}

.create-post #file-upload {
	border: none;
	font-size: 14px;
}

.create-post img {
	height: 20px;
	cursor: pointer;
	margin-right: 10px;
}

.create-post p {
	font-size: 14px;
	color: var(--border-grey, grey);
}

#create-post-bottom {
  display: flex;
  align-items: center;
}

#pic-upload-button:hover {
  cursor: pointer;
}
