@import url("global.css") element;

nav {
	background-color: var(--green, green);
	padding: 0px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-sizing: border-box;
	z-index: 9999999999;
}

#information {
	display: flex;
	align-items: center;
}

#information img {
	width: 30px;
	margin-right: 10px;
}

#information a#logo {
	color: var(--white, white);
	font-size: 20px;
	padding: 0;
}

#information input {
	width: 500px;
	margin: 0 40px;
	padding: 5px 10px;
	border: none;
	border-radius: 3px;
}


#links {
	height: 64px;
	display: flex;
	align-items: center;
}

#links img {
	width: 30px;
	padding-right: 10px;
}

#links a {
	color: var(--white, white);
}

.linkContainer {
	padding: 0 13px;
	height: 100%;
	display: flex;
	align-items: center;
}
.linkContainer:hover {
	background-color: var(--hover-green, #006600);
	cursor: pointer;
}