@import url("global.css") element;

#signupPage {
	margin-left:20%;
	margin-right:20%;
	margin-top:5%;
	height:600px;
	display:flex;
}
#signupPage .photoContainer{
	height:520px;
	width:45%;
	margin-right:5%;
}
#signupPage .photoContainer img{
	width: 100%;
	height: 100%;
}
#signupPage .loginSignup{
	height:640px;
	width:45%;
}
#signupPage .loginSignup .information{
	display:flex;
	align-items:center;
	margin-top:25%;
}

#signupPage .loginSignup .information #sproutlogo{
	width:50px;
	margin-left:60px;
}

#signupPage .loginSignup .information #heading{
	color: var(--green, green);
	font-size:40px;
	padding-bottom:10px;
	margin-top:10px;
}

#signupPage .loginSignup .signupContainer{
	height: 70%;
	width:100%;
	display:flex;
	flex-direction:column;
	border: 1px solid var(--border-grey, grey);
}

#signupPage .loginSignup .signupContainer #signupForm{
	display:flex;
	flex-direction:column;
	margin-top:5px;
}
#signupPage .loginSignup .signupContainer #signupForm #usernameInput{
	width:70%;
	margin:auto;
	height:30px;
	border: 1px solid var(--border-grey, grey);
	border-radius:3px;
	background-color: var(--background-grey, grey)
}

#signupPage .loginSignup .signupContainer #signupForm #passwordInput{
	width: 70%;
	margin:auto;
	height:30px;
	border: 1px solid var(--border-grey, grey);
	border-radius:3px;
	background-color: var(--background-grey, grey)
}

#signupPage .loginSignup .signupContainer #signupForm #repeatPassword{
	width: 70%;
	margin:auto;
	margin-top:15px;
	height:30px;
	border: 1px solid var(--border-grey, grey);
	border-radius:3px;
	background-color: var(--background-grey, grey)
}

#signupPage .loginSignup .signupContainer #signupForm #email{
	width: 70%;
	margin:auto;
	margin-top:15px;
	height:30px;
	border: 1px solid var(--border-grey, grey);
	border-radius:3px;
	background-color: var(--background-grey, grey)
}

#signupPage .loginSignup .signupContainer #signupButton{
	width: 72%;
	margin-top: 20px;
	margin-left:auto;
	margin-right:auto;
	background-color: var(--green, green);
	color: var(--white, white);
	padding: 5px;
	border: 1px solid var(--border-grey, grey);
	border-radius:3px;
}

#signupPage .loginSignup .loginBottomContainer{
	margin-top:15px;
	height: 50px;
	display:flex;
	border: 1px solid var(--border-grey, grey);
}
#signupPage .loginSignup .loginBottomContainer .signupText{
	margin:auto;
}

#signupPage .loginSignup .loginBottomContainer #signupLink{
	color: var(--link-blue, blue);
}